[Desktop Entry]
Type=Application
Name=Cubiomes Viewer
Comment=An efficient graphical Minecraft seed finder and map viewer
Exec=cubiomes-viewer
Icon=com.github.cubitect.cubiomes-viewer
Terminal=false
StartupNotify=false
Categories=Game;Qt;
